.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    * {
        font-family: var(--font-primary);
        color: var(--color-secondary);
    }

    h1 {
        font-size: 400px;
        font-style: normal;
        font-weight: 800;
    }
    p {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    button {
        border: none;
        border-radius: var(--border-radius);
        color: var(--color-text);
        background-color: var(--color-secondary);
        padding: 16px 64px;
        &.invalid {
            animation: shake 0.3s;
        }
        margin-bottom: 64px;
    }
}
