.authors {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
    }
}
