:root {
    --color-primary: #599aa9;
    --color-secondary: #fbf7f7;
    --color-text: #000000;
    --color-background: #d9d9d9;

    --font-primary: "Khula", sans-serif;

    --border-radius: 20px;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
body {
    background-color: var(--color-primary);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 20px;
}
